name: AliYunDriveSync-Actions

on:
  push:
    branches:
      - master
  schedule:
    - cron: 30 */6 * * *
  watch:
    types: started
jobs:
  run-it:
    runs-on: ubuntu-latest
    name: AliYunDriveSync-Actions
    steps:
      - name: Checkout master
        uses: actions/checkout@master
      - name: Rclone-Install
        run: wget 'https://raw.githubusercontent.com/wekingchen/my-file/master/rclone/rclone.zip' --no-check-certificate && sudo unzip rclone.zip && sudo chmod a+x rclone && sudo rm -f rclone.zip
      - name: Rclone-Config
        env:
          RCLONE_CONFIG: ${{ secrets.RCLONE_CONFIG }}
        run: |
          # 写配置文件
          mkdir -p ~/.config/rclone/
          cat << EOF > ~/.config/rclone/rclone.conf
          $RCLONE_CONFIG
          EOF
      - name: refresh-token-update
        env:
          CLI_TOKEN: ${{ secrets.CLI_TOKEN }}
        run: |
          # 获取最新refresh_token
          ./rclone copy outlook_com:/aliyunpan/refresh_token ./
          # sed -i 's/app://g' refresh_token

          # 读取授权码
          echo ${CLI_TOKEN} > token
          ./rclone copyto token weking_dropbox:PrivateDoc/rclone/AliYunpan

          # 登录CLI
          gh auth login --with-token < token

          # 更新refresh-token
          gh secret set ALIYUNDRIVE_REFRESH_TOKEN < refresh_token --repo wekingchen/aliyundrive-sync
          echo "refresh-token更新完毕"
      - name: WebDAV-Run
        env:
          ALIYUNDRIVE_REFRESH_TOKEN: ${{ secrets.ALIYUNDRIVE_REFRESH_TOKEN }}
          WEBDAV_AUTH_USER: ${{ secrets.WEBDAV_AUTH_USER }}
          WEBDAV_AUTH_PASSWORD: ${{ secrets.WEBDAV_AUTH_PASSWORD }}
        run: docker run -d --name=aliyundrive-webdav --restart=unless-stopped -p 8080:8080 -v /etc/aliyundrive-webdav/:/etc/aliyundrive-webdav/ -e REFRESH_TOKEN=$ALIYUNDRIVE_REFRESH_TOKEN -e WEBDAV_AUTH_USER=$WEBDAV_AUTH_USER -e WEBDAV_AUTH_PASSWORD=$WEBDAV_AUTH_PASSWORD messense/aliyundrive-webdav
      - name: Rclone-Run
        run: |
          # Rclone-Run

          # 延迟函数
          delay()
          {
          random_time=$(($RANDOM % $1))
          echo "等待 ${random_time} 分钟后开始同步"
          for((i=1;i<=${random_time};i++));  
          do
          echo "倒计时 $[${random_time}-$i] 分钟"
          sleep 1m
          done
          }

          # 随机延迟0~15分钟后再进行操作,可自行设置时间
          delay 1

          # 更改时区
          sudo cp /usr/share/zoneinfo/Asia/Shanghai /etc/localtime

          ./rclone --no-update-modtime sync -v pan:/public webdav:/public
          echo "阿里云盘public同步完毕"
          
          ./rclone --no-update-modtime sync -v pan:/complete webdav:/complete
          echo "阿里云盘complete同步完毕"
          
          ./rclone --no-update-modtime sync -v pan:/huangxi webdav:/huangxi
          echo "阿里云盘huangxi同步完毕"
          
          ./rclone --no-update-modtime sync -v pan:/Kids webdav:/Kids
          echo "阿里云盘Kids同步完毕"
          
          ./rclone --no-update-modtime sync -v pan:/ping webdav:/ping
          echo "阿里云盘ping同步完毕"
          
          ./rclone --no-update-modtime sync -v pan:/xm webdav:/xm
          echo "阿里云盘xm同步完毕"

          # ./rclone --no-update-modtime sync -v pan:/upload/takeout webdav:/upload/takeout
          # echo "阿里云盘upload同步完毕"
          
          ./rclone copyto /etc/aliyundrive-webdav/refresh_token outlook_com:/aliyunpan/refresh_token
          echo "阿里云盘refresh-token备份完毕"

          ./rclone copy ~/.config/rclone weking_dropbox:PrivateDoc/rclone/AliYunpan
          echo "rclone配置档备份完毕"

      - name: Delete workflow runs
        uses: wekingchen/delete-workflow-runs@main
        with:
           retain_days: 7
           keep_minimum_runs: 550          
